<!--<h2>List Articles</h2>
<%= link_to "New Article", new_article_url, :class => 'btn btn-primary' %>
<table class="table">
	<thead>
		<th><b>Titre</b></th>
		<th><b>Texte</b></th>
		<th></th>
	</thead>
	<% @articles.each do |article| %>
		<tr>
			<td><b><%= article.title %></b></td>
			<td><%= article.body %></td>
			<td width="70"><%= link_to "X", article, :method => :delete, :class => 'btn btn-danger', :confirm => "Are you sure ?" %> <%= link_to "M", edit_article_url(article), :class => 'btn btn-primary'%></td>
		</tr>
	<% end %>
</table>-->


<%= render @articles %>
<%= link_to "New Article", new_article_url, :class => 'btn btn-primary' %>