
<h1>Add a new Photo</h1>

<%= form_for [:admin, @product, @photo], :html => { :multipart => true } do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.file_field :image %>

	<%= f.submit %>

<% end %>