<h2>Liste des commandes</h2>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Adresse</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>Montant</th>
    <th></th>
    <!--<th></th>
    <th></th>-->
  </thead>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.adresse %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><%= order.total %></td>
    <td width="50"><%= link_to 'Voir', order, :class => "btn btn-primary" %></td>
    <!--<td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>
<%= will_paginate @products %>
<br />

<%= link_to 'New Order', new_order_path %>
