<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <% @product.photos.each do |photo| %>
  <%= image_tag photo.image.url(:thumb) %>
  <% end %>
</p>

<p><%= link_to 'ajouter un photo', new_product_photo_url(@product), :class=>"btn btn-primary" %></p>

<p>
  <b>Categorie:</b>
  <%= @product.category.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product), :class=>"btn btn-primary" %> |
<%= link_to 'Back', products_path, :class=>"btn btn-primary" %>
