<!DOCTYPE html>
<html>
<head>
  <title>Commerce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Achète des dvd</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to 'Home', store_index_path %></li>
          <li class="lien_panier"><%= link_to 'Panier', current_card %></li>
          <li class="montant_panier">(<%= current_card.total %> €)</li>
          <li><%= link_to 'BackOffice', products_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<p><br/><p>
<div class="container">

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>




  <%= yield %>
  </div>

</div>

</body>
</html>
